body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 15px black;
    img {
        width: 300px;
        padding: 1rem 0;
    }
}

.location {
    display: flex;
    justify-content: center;
    &__icon {
        display: flex;
        align-items: center;
        padding: 1rem;
    }
}