* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    body {
        margin: 0;
    }  
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 15px black;
    img {
        width: 300px;
        padding: 1rem 0;
    }
}

.location {
    display: flex;
    justify-content: center;
    color: rgb(56, 56, 56);
    background-color: rgb(221, 221, 221);
    &__icon {
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    &__title {
        font-weight: 700;
    }
}